.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 1fr;
  grid-gap: 1em;
  margin: 10px;
}

.search-container{
  grid-row: 1 / 2 ;
  grid-column: 1 / 3;
}

.result{
  grid-row: 2 / 3 ;
  grid-column: 1 / 2;
}

.playlist{
  grid-row: 2 / 3 ;
  grid-column: 2 / 3;
}

.track{
  border: black solid 1px;
  width: 400px;
}
.artist-album{
  display: inline;
  padding: 10px;
}

.cim{
  padding-left: 10px;
}